section{
    justify-content: center;
    font-size: 1.5rem;
}


.character_container {
    display: flex;
    flex-direction:row;
    display: -webkit-flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
}

.character {
    width: 20%;
    margin: 1rem;
    order: 1;
    transition: 0.2s;
}

.character:hover{
    transition: 0.2s;
    transform: scale(0.9);
}

.character_info{
    text-align: center;
}

.character_img img {
    width: 100%;
}


@media only screen and (max-width: 800px) 
{
    section{
        justify-content: center;
        font-size: 4vmax;
    }
    .character {
        width: 60%;
        margin: auto;
    }
}