section{
    font-size: 1.5rem;
}

.ss_container {
    display: flex;
    flex-direction:row;
    display: -webkit-flex;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
}

.ss {
    width: 40%;
    margin: 1rem;
    order: 1;
    transition: 0.2s;
}

.ss_title{
    font-weight: bold;
    font-size:1.2rem;
    text-align: center;
}

.ss:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.ss_img img {
    width: 100%;
}

@media only screen and (max-width: 800px) 
{
    section{
        justify-content: center;
        font-size: 4vmax;
    }

    .ss {
        width: 60%;
    }
}