@media only screen and (max-width: 800px) {}

body {
    margin: 0
}

header {
    display: flex;
    background-color: rgb(159, 221, 240);
    width: 100%;
}

footer {
    position: sticky;
}

p {
    /*responsive text*/
    font-size: 1.1vw;
}

img {
    width: auto;
    height: auto;
}

.header {
    width: 33%;
}


/* Delete This after got logo */

.logo {
    text-align: center;
}

.dropbtn div {
    width: 2.5rem;
    height: 0.35rem;
    background-color: rgb(59, 58, 58);
    margin: 0.3rem 0.3rem;
}

.drop_down_menu {
    float: left;
    overflow: hidden;
}

.drop_down_menu .dropbtn {
    border: none;
    outline: none;
    color: black;
    padding: 1rem 2rem;
    background-color: inherit;
    margin: 0;
}

.drop_down_menu:hover .dropbtn {
    background-color: rgb(125, 179, 196);
}

.drop_down_menu_content {
    display: none;
    position: absolute;
    background-color: rgb(159, 221, 240);
    min-width: 12rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop_down_menu_content a {
    border-top: 1px solid white;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    text-align: left;
}

.drop_down_menu_content a:hover {
    background-color: rgb(161, 105, 105);
}

.drop_down_menu:hover .drop_down_menu_content {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: rgb(159, 221, 240);
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 17px;
    text-align: center;
}

.footer div a {
    text-decoration: none;
}

.footer div a img {
    width: 40px;
    padding: 0.5%;
}