
*{
    font-family: 'Oswald', sans-serif;
}

section{
    margin: 2vw 10vw 0vw;
}

a{
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #39A6A3;
    color:  #231E23;
    width: 100%;
    font-size: 1.1vw;
}

body {
    margin: 0;
    color:  #231E23;
    background-color: #f4f4f4;
    
}

footer {
    position: sticky;
}


img {
    width: auto;
    height: auto;
}


/* Delete This after got logo */

.logo {
    margin-right: 2.5rem;

}

.logo img{
    width: 18rem;
}

.dropbtn div {
    width: 1.8rem;
    height: 0.25rem;
    background-color: rgb(59, 58, 58);
    margin: 0.3rem;
}

.drop_down_menu {
    float: left;
    overflow: hidden;
}

.drop_down_menu .dropbtn {
    border: none;
    outline: none;
    padding: 1rem 2rem;
    background-color: inherit;
    margin: 0;
}

.drop_down_menu:hover .dropbtn {
    background-color: #6eb6a3;
}

.drop_down_menu_content {
    display: none;
    position: absolute;
    background-color: #39A6A3;
    min-width: 12rem;
    
    z-index: 1;
}

.drop_down_menu_content a {
    border-top: 0.1rem solid white;
    color: black;
    padding: 0.6rem 2rem 0.7rem;
    font-size: 3vh;
    text-decoration: none;
    text-align: left;
}

.drop_down_menu_content a:hover {
    background-color: rgb(125, 179, 196);
}

.drop_down_menu:hover .drop_down_menu_content {
    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}


.footer {
    background-color: #39A6A3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: white;
    font-size: 17px;
    text-align: center;
}

.footer_content{
    margin: auto 3vw;
}

.footer div a {
    text-decoration: none;
}

.footer div a img {
    width: 2rem;
    padding: 0.5rem;
}